.contact_container{
height: 100vh;
background-color: #1E2326;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;



}
.contact_ic{
    padding-top: 50px;
}
.contact_ic >h1{
    color: aliceblue;
   

    font-size: 48px;
    
}
.contact_ic>h1::first-letter{
    color: #0063b1;
}

.info{
    display: flex;
    width: 100%;
    
    justify-content: space-around;
}
.contact_left >form,.contact_right > form{
    display: flex;
    flex-direction: column;
}
.contact_left > form>input,#message_box{
    
   color: aliceblue;
    width: 450px;
    background-color:#252A2E ;
    border: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
   outline: none    ;
    padding: 10px;
    
    
}
#message_box{
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact_left>form>input:focus{
    border: 1px solid white;
}
#message_box::placeholder{
color: aliceblue;
}
#message_box:focus{
    border: 1px solid white;
}
#message_box::-webkit-scrollbar{
    display: none;
}

.contact_left > form>input::placeholder{
    
    /* top: 50px   ; */
    color: aliceblue;
    
}



.message{
    width: 190px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: transparent;
    color: aliceblue;
    border: 1px solid aliceblue;
    margin:10px 0 10px 0    ;
}
.message::after{
    /* border-radius: 5px; */
    content:"";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color:  #0063b1;
    transition: .3s ease-in;
    z-index: -1;
}
.message:hover,.message:focus{
    border: 2px solid  #0063b1;
}
.message:hover::after,.message:focus::after{
    
    color: #1E2326;
    right: 0%;
    
}
.contact_container h5{
    cursor: pointer;
    text-decoration: underline;
    padding-top: 5px;
    text-align: left;
}


    

.right_square{
    background-color: #0063b1;
}

